
	* {
		margin: 0px;
		outline: none;
	}

	@font-face {
		font-family: "roboto";
		src: url("../font/roboto.ttf");
	}

	@font-face {
		font-family: "coco";
		src: url("../font/coco.ttf");
	}

	.nav-bar {
		width: 100%;
		position: relative;
		height: 300px;
		background: #292929;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.centralizar {
	  margin: 0;
	  position: absolute;
	  align-content: center;
	  align-items: center;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}

	.centralizar h1 {
		font-family: "coco";
		font-size: 50px;
		color: white;
	}

	.centralizar p {
		font-family: "roboto";
		color: #c4c4c4;
		margin: 0px;
	}

	.card-btn {
		width: 100%;
	  	top: 30%;
	  	left: 50%;
	  	left: 0px;
	  	height: 100px;
		background: transparent;
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.align-btns {
		width: 100%;
		background: transparent;
		padding: 20px;
	}

	.btn-cart {
		padding: 20px;
		border-style: none;
		border-radius: 30px;
		float: right;
		background: #0095ff;
		margin-right: 40px;
		cursor: pointer;
		min-width: 90px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		transition: all 70ms ease;
	}

	.btn-cart img {
		height: 20px;
	}

	.btn-cart:active {
		transform: translateY(10px);
	}

	.btn-cart:hover {
		background: #30a9ff;
	}

	.btn-exit {
		padding: 20px;
		border-style: none;
		border-radius: 30px;
		float: right;
		background: #383838;
		margin-right: 20px;
		cursor: pointer;
		min-width: 80px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		transition: all 70ms ease;
	}

	.btn-exit img {
		height: 20px;
	}

	.btn-exit:active {
		transform: translateY(10px);
	}

	.btn-exit:hover {
		background: #404040;
	}

	.box-question {
		width: 100%;
		margin-top: 4%;
		background: transparent;
		align-items: center;
		justify-content: center;
	}

	.grid-question {
		width: 80%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.center-grid {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.grid-img {
		background: transparent;
	}

	.grid-text {
		background: transparent;
	}

	.grid-text h1 {
		font-family: "coco";
	}

	.grid-text p {
		font-family: "roboto";
	}

	.center-img {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.center-text {
		width: 100%;
		justify-content: left;
		align-items: left;	
	}

	#img-people {
		height: 330px;
	}

	.rate-question {
		margin-top: 20px;
		padding: 20px;
		cursor: pointer;
		border-style: none;
		color: white;
		font-family: "roboto";
		border-radius: 10px;
		background: #0095ff;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		transition: all 60ms ease;
	}

	.rate-question:hover {
		background: #30a9ff;
	}


    /* Preloader */

	#preloader {
	  position:fixed;
	  top:0;
	  left:0;
	  right:0;
	  bottom:0;
	  background-color:#242424;
	  z-index:999;
	}

	#preloader .inner {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  text-align: center;
	  align-items: center;
	  align-content: center;
	  transform: translate(-50%, -50%);  
	}

	.inner h1 {
		font-family: "coco";
		color: white;
	}

	/* end: Preloader */

	#box-cart {
		display: none;
		position: absolute;
		width: 100%;
		background: transparent;
		top: 0px;
	}

	.box-cart-contido {
		width: 100%;
		padding-top: 20px;
		position: relative;
		background: #333333;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.box-cart-contido h1 {
		font-family: "coco";
		color: white;
	}

	.box-cart-contido p {
		font-family: "roboto";
		color: #adadad;
	}

	.box-cart-contido a {
		margin-top: 4px;
		font-family: "roboto";
		color:#d9d9d9;
	}

   	.amount-cart {
   		display:inline-block;
   		text-align: center;
   		padding: 4px;
   		min-width: 40px;
    	background: #0084ff;
    	border-radius: 25px;
    	color: white;
    	cursor: pointer;
    	margin: 5px;
    	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    	transition: all 60ms ease;
   	}

   	.amount-cart:hover {
   		background: #2998ff;
   	}

   	.close {
   		position: absolute;
   		top: 30px;
   		right: 30px;
   		color: white;
   		cursor: pointer;
   		font-size: 30px;
   		border-style: none;
   		background: transparent;
   	}

   .list-products {
   		width: 100%;
   		max-width: 100%;
   		height: 190px;
   		background: transparent;
   		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
   }

   .row {
   		width: 100%;
   		padding-top: 10px;
   		padding-bottom: 15px;
   		align-items: center;
   		justify-content: center;
   		flex-direction: row;
   		display: flex;
   		overflow-y: auto;
   }

   .card-prod {
   		min-width: 15%;
   		border-radius: 4px;
   		min-height: 150px;
   		background: #404040;
   		margin-right: 10px;
   		margin-left: 10px;
   		position: relative;
   		display: flex;
   		cursor: pointer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		transition: all 60ms ease;
   }

    .card-prod:hover {
   		background: #4f4f4f;
   	}

   #prod-img {
   	height: 80px;
   	margin: 10px;
   }

   .value-prod {
   	display: inline-block;
   	background: #0077ff;
   	padding: 5px;
   	margin-right: 6px;
   	margin-left: 6px;
   	font-size: 12px;
   	border-radius: 4px;
   	color: white;
   	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   	transition: all 60ms ease;
   }

   .value-prod:hover {
   	background: #2b8eff;
   }

   .delete-prod {
   	position: absolute;
   	background: transparent;
   	cursor: pointer;
   	color: white;
   	top: 10px;
   	padding: 1px;
   	text-align: center;
   	right: 10px;
   	height: 35px;
   	width: 35px;
   	border-style: none;
   	border-radius: 25px;
   	transition: all 60ms ease;
   }

   .delete-prod img {
   	height: 16px;
   }

   .delete-prod:active {
   	transform: translateY(10px);
   }

   .btn-checkout {
   	padding: 16px;
   	min-width: 120px;
   	border-style: none;
   	cursor: pointer;
   	font-family: "roboto";
   	background: #0091ff;
   	border-radius: 25px;
   	color: white;
   	margin-top: 10px;
   	margin-bottom: 30px;
   	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   	transition: all 60ms ease;
   }

   .btn-checkout:hover {
   	background: #1f9eff;
   }

   .btn-checkout:active {
   	 transform: translateY(10px);
   }